body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.midBody{
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle{
    height: 35%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(45,45,45);
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}

button{
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid black;
    background-color:white;
    font-size: 15px;
}

.midHorizontal{
    display: flex;
    align-items: center;
    flex-direction: column;
}

a{
    text-decoration: none;
    font-size: 20px;
}

li{
    margin-right: 25px;
}